.main-content {
  max-width: 1024px;
  min-height: 80%;
  margin: 0 auto;
  border-radius: 20px;
  z-index: 2;
  position: relative;
}
.btn-green {
  background-color: limegreen;
  color: #fff;
}
@media (max-width: 768px) {
  .drawer {
    z-index: 3;
  }
  .btn-green {
    width: 100%;
  }
}
